@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700");
@import url("https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");

* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

:root {
  --font-roboto: "Roboto Slab", serif;
  --font-raleway: "Raleway", sans-serif;
}

body {
  font-family: var(--font-roboto);
  background-color: #011327;
}

.app {
  padding: 4rem;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-size: 3rem;
  letter-spacing: 0.9px;
  background: linear-gradient(
    90deg,
    rgba(249, 211, 180, 1) 0%,
    rgba(249, 211, 180, 0) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.search {
  width: 71%;
  margin: 4rem 0 2rem;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 1.5rem 1.75rem;
  border-radius: 3rem;
  background: #1f2123;
  -webkit-box-shadow: 5px 5px 7px #1c1d1f, -5px -5px 7px #222527;
  box-shadow: 5px 5px 7px #1c1d1f, -5px -5px 7px #222527;
}

.search input {
  flex: 1;
  border: none;
  font-size: 1.5rem;
  font-family: var(--font-raleway);
  font-weight: 500;
  padding-right: 1rem;

  outline: none;
  color: #a1a1a1;
  background: #1f2123;
}

.search img {
  width: 35px;
  height: 35px;
  cursor: pointer;
}

.content{
  width: 60%;
  margin-left: 20%;
}

.container {
  width: 100%;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.product {
  width: 310px;
  height: 310px;
  margin: 1.5rem;

  position: relative;
  border-radius: 12px;
  overflow: hidden;
  border: none;

  transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
  box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1);
}

.product .description {
  position: absolute;
  padding: 16px;
  width: 100%;
  opacity: 0;
  top: 0;
  color: #d7d7da;
}

.product:hover {
  box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.1);
  transform: scale(1.05, 1.05);
}

.product .image {
  width: 100%;
  height: 100%;
  opacity: 0.6;
}

.product .image img {
  height: 100%;
  width: 100%;
}

.product .product_footer {
  z-index: 2;
  background-color: #12354d;
  padding: 16px 24px 24px 24px;

  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}

.product .product_footer span {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2px;
  font-weight: 500;
  color: #d7d7da;
}

.product .product_footer h3 {
  margin-top: 5px;
  font-family: "Roboto Slab", serif;
  color: #d7d7da;
}

.product:hover .image {
  height: 100%;
  opacity: 0.1;
}

.product:hover .product_footer {
  background-color: transparent;
}

.product:hover .description {
  opacity: 1;
}

.addtocart{
  margin-top: 15px;
  display:block;
  padding: 5px;
  border-radius:12px;
  border:none;
  font-size:15px;
  position:relative;
  background:#ffffff;
  color:rgb(4, 2, 29);
  cursor:pointer;
  height:30px;
  width:100%;
  overflow:hidden;
  transition:transform 0.1s;
  z-index:1;
  font-family: 'Quicksand', sans-serif;
  font-weight: 900;
}
.addtocart:hover{
  transform:scale(1.1);
}

.quantity{
  margin-left: 15px;
  margin-right: 15px;
  
  color: #ffffff;
  font-weight: 700;
  font-size: 15px;
  cursor: pointer;
  background: #061729;
}

.sidebar{
  color: white;
  background-color: #12354d;
  width: 20%;
  height: 100%;
  margin-left: 80%;
  margin-top: 0;
  display: inline;
  position: fixed;
  overflow: auto;
}
.sidebar h3{
  margin-bottom: 15px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
.sidebar h4{
  margin-bottom: 0;
  background-color: #e0e0e0;
  padding: 10px;
  color: #011327;
}
.sidebar h4:hover{
  background-color: #011327;
  color: #e0e0e0;
  cursor: not-allowed;
}

.navbar{
  color: white;
  background-color: #12354d;
}

.navbar ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 20%;
  background-color: #12354d;
  height: 100%;
  position: fixed;
  overflow: auto;
}

.navbar ul li{
  height: 30px;
}
.navbar ul li button{
  height: 100%;
  width: 100%;
  border-bottom: 1px solid #12354d;
  cursor: pointer;
  font-weight: 700;
}
.navbar ul li :hover{
  background-color: #122231;
  color: white;
}
.clicked_item{
  background-color: #122231;
  color: white;
}

.number_of_items{
  color: #fdfdfd;
  padding: 30px;
}

.no_product_found{
  color: #ff4a32;
  font-weight: 900;
  font-size: 50px;
}



@media screen and (max-width: 600px) {
  .app {
    padding: 4rem 2rem;
  }

  .search {
    padding: 1rem 1.75rem;
    width: 100%;
  }

  .search input {
    font-size: 1rem;
  }

  .search img {
    width: 20px;
    height: 20px;
  }
}

@media screen and (max-width: 400px) {
  .app {
    padding: 4rem 1rem;
  }

  h1 {
    font-size: 2rem;
  }

  .container {
    margin-top: 2rem;
  }

  .product {
    width: "100%";
    margin: 1rem;
  }
}